{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": "off",
    "semi": 2,
    "quotes": [
      "error",
      "single"
    ],
    "@typescript-eslint/no-explicit-any": "off"
    // "global-require": "off",
    // "import/no-dynamic-require": "off"
  }
}
