@import './reset.less';
@import './scroll-bar.less';

@font-family: auto;
@color-primary: rgb(var(--primary-6));
@color-error: rgb(var(--red-5));
@color-hover: rgba(22, 22, 22, 0.72);
@background-color: rgba(var(--color-rgb-255), 0.9);

@borderRadius: 8px;

body {
  font-family: @font-family;
  color: @color-primary;
  line-height: 1.2;

  .scroll-bar();
}

body {
  --color-rgb-0: 0, 0, 0;
  --color-rgb-255: 255, 255, 255;
  --color-rgb-22: 233, 233, 233;

  &[arco-theme='dark'] {
    --color-rgb-0: 255, 255, 255;
    --color-rgb-255: 0, 0, 0;
    --color-rgb-22: 22, 22, 22;
  }
}
