name: Build & Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    name: build and release electron app
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: true
      matrix:
        # os: [windows-latest, macos-latest, ubuntu-latest]
        os: [windows-latest]

    steps:
      - name: Check out git repository
        uses: actions/checkout@v3.0.0

      - name: Install Node.js
        uses: actions/setup-node@v3.0.0
        with:
          node-version: "16"

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Build Electron App
        run: pnpm package
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}

      # - name: Cleanup Artifacts for Windows
      #   if: matrix.os == 'windows-latest'
      #   run: |
      #     npx rimraf --glob "release/!(*.exe)"

      # - name: Cleanup Artifacts for MacOS
      #   if: matrix.os == 'macos-latest'
      #   run: |
      #     npx rimraf --glob "release/!(*.dmg)"

      # - name: upload artifacts
      #   uses: actions/upload-artifact@v3.0.0
      #   with:
      #     name: ${{ matrix.os }}
      #     path: release

      # - name: release
      #   uses: softprops/action-gh-release@v0.1.14
      #   if: startsWith(github.ref, 'refs/tags/')
      #   with:
      #     files: "release/**"
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
